body {
    max-width: 600px;
    margin: 0 auto;
    padding: 4em;
    font-size: 20px;
    text-align: center;
}
.header-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

.mypic{
    grid-column: 1;
}
.myname{
    grid-column: 2;
}